nav, article, aside, footer section {
    margin: 0 auto;
  }
  
  nav {
    margin-top: 25px;
    color: rgb(212, 130, 99)
  }

  #logo {
    float: left;
    color: black;
    text-decoration: none;
  }
  form {
    width: 200px;

  }

