<!DOCTYPE.HTML>
<html>
  <head>
    <title>Stock Portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="styles/log_in.css">
  </head>
    
  <body>
    <header>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#"></a>Portfolio</li>
            <li><a href="#"></a>Register</li>
            <li><a href="#">Add Stock</a></li>
            <li><a href="#">Stock Detail</a></li>
          </ul>
        </nav>
      </header>   
    <h1>Please sign in to your acount</h1>

    <form id="customer-info">
        <fieldset>
            <legend id="legend">Sign In</legend>

            <label for="user_name">Username</label>
            <input name="user_name" id="un" type="text">
            <label for="password">Password</label>
            <input name="password" id="pw" type="text"><br/>
            <button id="submit">Submit</button>
        </fieldset>
    </form>

  </body>