<!DOCTYPE.HTML>
<html>
  <head>
    <title>Stock Portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="styles/stockAdd.css">
  </head>
    
  <body>
    <header>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#"></a>Log In</li>
            <li><a href="#"></a>Register</li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Stock Detail</a></li>
          </ul>
        </nav>
      </header>   
    <h1>Please enter your stock purchases</h1>

    <form id="customer-info">
        <fieldset>
            <legend id="legend">Customer Information</legend>

            <label for="custFirstName">Stock name</label>
            <input name="custFirstName" id="fn" type="text">
            <label for="custLastname">Styock Symbol</label>
            <input name="custLastName" id="ln" type="text"><br/>
            <label for="creditCardNumber">Number of shares to purchase</label>
            <input for="creditCardNumber" id="cc" type="number"><br/>
            <button id="register">Purchase</button>

        </fieldset>
    </form>

  </body>