<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stock Portfolio</title>

  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/auth">Log In - Register</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/add">Add Stock</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Your Stock Portfolio</h1>

      {% block content %}
      <p>No content</p>
      {% endblock content %}

    </main>
  </body>
</html>