<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stock Portfolio</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/" id="logo">
            <img src="Stock-Market-PNG-HD.PNG" alt="stock_logo">
            <h1>My Portfolio</h1>
            <p id="slogan">My Portfolio on the go</p>
          </a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/auth">Log In - Register</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/add">Add Stock</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Stock Portfolio</h1>

      {% block content %}
      <p>No content</p>
      {% endblock content %}

    </main>
  </body>
</html>