
    {% extends "base.jinja2" %}

    {% block content %}
    <main>
      <h3>Please login or register to view and manage your portfolio.</h3>
      <div class="background_img">
        <img id="bkgnd_logo" src="./static/stock.jpg" alt="">
      </div>  
    </main>
    {% endblock content %}

