
    {% extends "base.jinja2" %}

    {% block content %}
    <main>
      <h1>Welcome to your Stock Portfolio</h1>

      Please login or regester to view and manage your portfolio.
    </main>
    {% endblock content %}

