
    {% extends "base.jinja2" %}

    {% block content %}
    <main>
      <h3 id="index-hdr">Please login or register to view and manage your pantry.</h3>
      <div class="background_img">
        <img id="bkgnd_logo" src="./static/stock.jpg" alt="">
      </div>  
    </main>
    {% endblock content %}

