<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stock Portfolio</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/index.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#"></a>Log In</li>
          <li><a href="#"></a>Register</li>
          <li><a href="#">Add Stock</a></li>
          <li><a href="#">Stock Detail</a></li>
        </ul>
      </nav>
    </header>

    <main>
      Welcome to your stock portfolio
    </main>

    <footer>
    </footer>
  </body>
</html>