<!DOCTYPE.HTML>
<html>
  <head>
    <title>Stock Portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="styles/register.css">
  </head>
    
  <body>
    <header>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#"></a>Log In</li>
            <li><a href="#"></a>Portfolio</li>
            <li><a href="#">Add Stock</a></li>
            <li><a href="#">Stock Detail</a></li>
          </ul>
        </nav>
      </header>   
    <h1>Please sign up for an acount</h1>

    <form id="customer-info">
        <fieldset>
            <legend id="legend">Customer Information</legend>

            <label for="custFirstName">First Name</label>
            <input name="custFirstName" id="fn" type="text">
            <label for="custLastname">Last Name</label>
            <input name="custLastName" id="ln" type="text"><br/>
            <label for="steeetAddress">Street Address</label>
            <input for="streetAddress" id="sa" type="text"><br/>
            <label for="cityState">City, State</label>
            <input for="citySate" id="ss" type="text">
            <label for="zip">Zip</label>
            <input for="zip" id="zip" type="number"><br/>
            <label for="userName">User name</label>
            <input name="userName" id="fn" type="text">
            <label for="password">Password</label>
            <input name="password" id="ln" type="text"><br/>
            <label for="creditCardNumber">Credit Card Number</label>
            <input for="creditCardNumber" id="cc" type="number"><br/>
            <label for="expdate">Expiration Date MO/YEAR</label>
            <input for="expDate" id="ex" type="number">
            <label for="cvn">CVN Code</label>
            <input for="cvn" id="cvn" type="numbner"><br/>

            <button id="register">Register</button>

        </fieldset>
    </form>

  </body>