
{% extends "base.jinja2" %}

{% block content %}
    <h2>Item name: {{product[0]['name']}}</h2>
    <p>Brand: {{product[0]['brand']}}</p>
    <p>Manufacturer: {{product[0]['manufacturer']}}</p>
    <p>Catagory: {{product[0]['catagory']}}</p>
    <p>Image: {{product[0]['images']}}</p>
    <p>UPC: {{product[0]['upc']}}</p>
    <p>Description: {{product[0]['description']}}</p>
    <ul id="online_offers">Online Offers:
        {% for site in product['sitedetails'] %}
        <li>
          <h2>{{site['name']}}</h2>
          <h3>{{site['url']}}</h3>
          {% for offer in site['latestoffers'] %}
          <p>({{offer['seller']}}) {{offer['price']}}</p>
          {% endfor %}
        </li>
    </ul>    
        {% endfor %}
{% endblock content %}
