
{% extends "base.jinja2" %}

    {% block content %}

    <h1>Stock Trader</h1>

    <form action="{{request.route_url('stock')}}" method="GET">
            <input for="creditCardNumber" id="cc" type="number"><br/>
            <button id="search">Search</button>
            
    </form>

    {% endblock content %}

    {% comment %} <button id="add">Add to Portfolio</button> {% endcomment %}
