{% extends "base.jinja2" %}

    {% block content %}
    <h1>Please enter your stock purchases</h1>

    <form id="customer-info">
        <fieldset>
            <legend id="legend">Customer Information</legend>

            <label for="custFirstName">Stock name</label>
            <input name="custFirstName" id="fn" type="text">
            <label for="custLastname">Styock Symbol</label>
            <input name="custLastName" id="ln" type="text"><br/>
            <label for="creditCardNumber">Number of shares to purchase</label>
            <input for="creditCardNumber" id="cc" type="number"><br/>
            <button id="register">Purchase</button>

        </fieldset>
    </form>
    {% endblock content %}