
{% extends "base.jinja2" %}

{% block content %}
    <div id="stock_details">
        <h2>Company name: {{stock.companyName}}</h2>
        <h3>Symbol: {{stock.symbol}}</h3>
        <p>CEO: {{stock.CEO}}</p>
        <p>Website:{{stock.website}}</p>
        <p>Industry: {{stock.industry}}</p>
        <p>Sector: {{stock.sector}}</p>
        <p>Exchange: {{stock.exchange}}</p>
        <p>Issue Type: {{stock.issueType}}</p>
        <p>Description: {{stock.description}}</p>
    </div>
{% endblock content %}


